body {
  background: #f1f5f9;
  font-weight: 300!important;
}
.flex-body {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  height: 100vh;
  overflow: hidden;
}
.config-sidebar {
  background: #fdfdfd;
  border-right: 1px solid #dedede;
  bottom: 0;
  overflow: auto;
  padding: 4.5rem 1.8rem;
  position: static;
  left: 0;
  right: 0;
  top: 3.6875rem;
  visibility: visible;
  width: 30%;
  z-index: 2;
}
.config-sidebar > .header {
  padding: 15px 25px;
  width: 100%;
  z-index: 4;
  left: 0!important;
  top: 0!important;
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
  background: #fff;
}
.config-sidebar .label i {
  margin: 0!important;
}
.flex-sidebar {
  transform: translateY(0);
  flex: 0 0 25em;
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -webkit-order: -1;
  order: -1;
}
