@import '../semantic/src/semantic';

@app-bg   : #f1f5f9;
@top-marg : 36px;
@wide-fs  : 1rem;
@mob-fs   : .5rem;

html {
  font-size: .875em;
}

body {
  background: @app-bg;
  font-weight: 300!important;
  font-size: @wide-fs;
  .header {
    font-weight: 400!important;
  }
}

.hide {
  display: none!important;
}

.inverted.menu {
  .header,
  a {
    color:#37474F!important;
  }
  i {
    margin-right: 10px!important;
  }
  .item:last-child:after{
    position: absolute;
    content: '';
    top: 0%;
    right: 0px;
    height: 100%;
    width: 1px;
    background: rgba(34, 36, 38, 0.1);
  }
}

.fxd-content {
  margin-top: @top-marg;
  height: 100vh;
  position: relative;
  z-index: 1;
  background: rgba(255,255,255, .8);
  .doc&{
    height: 100%;
    padding-bottom: 50px;
  }
  .padded& {
    padding: 0 20px;
  }
  &:before, &:after {
    position: absolute;
    content: '';
    top: 0%;
    height: 100%;
    width: 1px;
    background: rgba(34, 36, 38, 0.1);
  }
  &:before{
    left: 0px;
  }
  &:after {
    right: 0px;
  }
}
.icon-bg {
  z-index: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: url('../img/poly.svg') no-repeat 0% 40%;
  background-size: cover;
  opacity: .6;
}

.config-cards {
  bottom: 0;
  overflow: auto;
  padding: 2.5em 1.8em;
  position: static;
  left: 0;
  right: 0;
  visibility: visible;
  z-index: 2;

  > .header {
    padding: 15px 25px;
    width: 100%;
    z-index: 4;
    left: 0!important;
    top: 0!important;
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
    background: #fff;
  }

  .card {
    >.content:first-child {
      padding-bottom: .5em;
      .ui.circular.labels .label,
      .ui.circular.label {
        min-height: 1em;
      }
    }

    > .content:nth-child(2) {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 1em;
      i {
        font-size: .875em;
        margin: 0;
        padding: 0;
        line-height: 1em;
        position: relative;
        top: -1px;
      }
    }
  }

  .label i {
    margin: 0!important;
  }
}

.account-cards {
  padding: 2.5em 1.8em;
  .user-id {
    word-wrap: break-word;
  }
}

.ui.huge.statistic {
  width: 100%;
  margin-top: 40px;
  > .value {
    font-size: 3em!important;
  }
}
.ui.header {
  font-size:1em;
}

.segment {
  width: 80%;
  margin: auto!important;
}

#doc {
  padding: 20px 0;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
  a {
    text-decoration: underline;
    font-style: italic;
    background: none;
    color:#37474F;
    &:hover {
      background: rgba(191, 215, 48, .8);
      color: #37474F;
      text-decoration: none;
      transition: .3s ease-in;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    > a {
        background: #bfd730;
        color: #37474F;
        padding: 0 10px;
        font-style: normal;
        text-decoration: none;
    }
  }
}

.mobile, .tablets {
  display: none!important;
}

@media screen
and (max-width: 1440px) {
  html {
    font-size:.625em;
  }
  #doc
  {
    padding-top: 20px;
  }
}

@media screen
and (max-width: 1080px) {
  html {
    font-size:.625em;
  }
  .tablets {
    display: flex!important;
  }
  #doc
  {
    h1,h2,h3,h4,h5,h6 {
      font-size: 1.5em;
      line-height: 1em;
    }
  }
}

@media screen
and (max-width: 669px) {
  html {
    font-size: .875em;
  }
  .fxd-content {
    margin-top: 0;
  }
  .account-cards, .config-cards {
    padding: 2em 1em;
  }
  #doc
  {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 75px;
  }
  .widescreen {
    display: none!important;
  }
  .mobile {
    display: flex!important;
  }
}
