// @import '../semantic/src/semantic.less';

body {
  background: #f1f5f9;
  font-weight: 300!important;
}

.flex-body {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  height: 100vh;
  overflow: hidden;
}

.flex-sidebar, .flex-midbar{
  margin-top: 44px;
  height: calc('100vh - 44px');
  transform: translateY(0);
  flex: 0 0 25vw;
  min-width: 480px;
  order: -1;
}

.config-sidebar {
  bottom: 0;
  overflow: auto;
  padding: 2rem 1.8rem;
  position: static;
  left: 0;
  right: 0;
  visibility: visible;
  max-width: 33%;
  min-width: 360px;
  z-index: 2;
  box-shadow: 2px 1px 4px 0px rgba(34, 36, 38, 0.12), 2px 1px 10px 0px rgba(34, 36, 38, 0.15);

  > .header {
    padding: 15px 25px;
    width: 100%;
    z-index: 4;
    left: 0!important;
    top: 0!important;
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
    background: #fff;
  }

  .card {
    >.content:first-child {
      padding-bottom: .5em;
    }
  }

  .label i {
    margin: 0!important;
  }
}



.flex-midbar {
  display: inherit;
  flex: 0 0 30vw;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.mid-bar {
  bottom: 0;
  overflow: hidden;
  padding: 2rem 1.8rem;
  position: static;
  left: 25vw;
  right: 0;
  visibility: visible;
  z-index: 2;
  .statistic {
    width: 50%;
    flex-basis: 30%;
  }
  .segment {
    width: 60%;
    flex-basis: 0%;
  }
}

.flex-content {
  background: #fff;
  box-shadow: -2px 1px 4px 0px rgba(34, 36, 38, 0.12), -2px 1px 10px 0px rgba(34, 36, 38, 0.15);
  flex: 1 1 50vw;
  min-width: 480px;
  max-width: 100%;
  margin-top: 44px;
  height: calc('100vh - 44px');
  overflow-y: scroll;
  padding: 2rem 1.8rem;
}
