doctype html
html
  include config-card.pug 
  include create-new.pug
  include doc.pug
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title eduvpn
    link(rel='stylesheet', href='semantic/dist/semantic.css')
    link(rel='stylesheet', href='css/app.css')
  body
    .ui.top.fixed.icon.large.menu.widescreen
      .item.header
        | edu VPN
      .right.item
        i.user.icon
    .flex-body
      .flex-sidebar.config-sidebar
        - var n = 1
        - var act = 5
        - var now = new Date()
        - var nowstr = now.toUTCString().substr(4).substr(0,21)
        - var exp = new Date()
        - var expy = exp.setFullYear(exp.getFullYear() + 1)
        - var expstr = exp.toUTCString().substr(4).substr(0,21)
        .ui.two.stackable.raised.link.cards
          while n <= 9
            if n <= act
              +config-block('Configuration ' + n, 'check', 'blue', nowstr, expstr)
            else
              +config-block('Configuration ' + n, 'minus', '', nowstr, expstr)
            - n++
      .flex-midbar.mid-bar
          +create-panel(act)
      .flex-content
        +doc-block('Getting Started')
    .ui.bottom.fixed.icon.tiny.fluid.four.item.menu.mobile
      a.item.active
        i.list.icon
      a.item
        i.download.icon
      a.item
        i.help.icon
      a.item 
        i.user.icon
  script(
    src='https://code.jquery.com/jquery-3.1.1.min.js' 
    integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8='
    crossorigin='anonymous')
  script(src='semantic/dist/semantic.js')
  script(src='js/app.js')
